.projects {
    margin-top: 3rem !important;
}

.col-md-4 {
    margin-top: .5rem !important;
}
.add-project {
    padding: 3rem;
    cursor: pointer;
}
.plus {
    font-size: 80px;
}
a {
    text-decoration: none;
}
nb-card {
    min-height: 300px;
}