
nb-list-item {
    padding-left: 0 !important;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
        border-top: none;
    }
}

.priority {
    width: 18px;
}

.task {
    cursor: pointer;
}

.task:hover {
    text-decoration: underline;
}