<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <div class="d-flex">
                    <a href="" class="text-hint br">Projects</a>
                    <div class="text-hint px-3">/</div>
                </div>
                <h1>Projects</h1>
            </div>
            <div>
                <button *ngIf="user.isLead" (click)="openWindowForm()" nbButton status="light" class="px-4">
                    <nb-icon icon="plus-outline" class="mr-2"></nb-icon>
                    New project
                </button>
            </div>
        </div>
        <nb-card>
            <nb-card-body>
                <ngx-projects-table #childComponent></ngx-projects-table>
            </nb-card-body>
          </nb-card>
    </div>
</div>