@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    overflow: hidden;
    height: fit-content !important;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      border-top: none;
    }
  }
}
