<nb-card accent="{{color}}">
  <nb-card-header>
    <a href="/projects/{{project.id}}/overview">
      <span class="text-hint mr-2">P{{project.id}}</span>
      {{project.name}}
    </a>
  </nb-card-header>
  <nb-card-body>
    <span class="text-hint">
      {{project.description}}
    </span>
    <h6 class="mt-3 bold">Progress :</h6>
    <nb-progress-bar size="tiny" [value]="project.progress" status="success"></nb-progress-bar>
    <h6 class="mt-3 bold">Team :</h6>
    <div class="team align-items-center d-flex">
      <nb-user *ngFor="let e of project.employees" size="small" name="{{e.first_name}}" title="Engineer" onlyPicture
      [picture]="'https://agiletrack.onrender.com' + e.image">></nb-user>
      <span class="ml-auto text-hint">
        📅 {{project.estimated_end_date}}
      </span>
    </div>
  </nb-card-body>
</nb-card>